li {
    list-style: none !important;
    color: rgba(0, 0, 0, 0);
    font-size: 20px;
}

nav ul {
    background-color: #3a434d;
    margin: 0;
}

nav ul li {
    float: left;
    background-color: #242c35;
}

nav ul li a {
    color: #FFF;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
}


nav ul li ul {
    display: none;
}

/* Rend le menu déroulant caché par défaut */
nav ul li:hover ul {
    /* Affiche la dropNav au survol de la souris avec la class .drop */

    display: list-item !important;
    position: absolute;
    margin-top: 5px;
    margin-left: -10px;
    direction: rtl;
}
