<nav>
  <ul>
    <li><a href="#">{{depart}}</a>
      <ul>
        <a *ngFor="let devise of listeDevise" (click)="setDeviseDepart(devise)">{{devise}}</a>
      </ul>
    </li>
  </ul>

  <ul>
    <li><a href="#">{{arrivee}}</a>
      <ul>
        <a *ngFor="let devise of listeDevise" (click)="setDeviseArrivee(devise)">{{devise}}</a>
      </ul>
    </li>
  </ul>
</nav>

<br>
<br>
<br>
<input type="text" value='{{ value2 | convert: arrivee: depart}}' [(ngModel)]='value'>
<br>
<input type="text" value='{{ value | convert: depart: arrivee}}' [(ngModel)]='value2'>